
<h2>Add New Planet</h2>


<form action="<%= planets_path %>" method="post">

<label>
  Name: <input type="text" name="name">
</label>
<br>

<label>
  Orbit: <input type="text" name="orbit">
</label>
<br>

<label>
  Diameter: <input type="text" name="diameter">
</label>
<br>

<label>
  Mass: <input type="text" name="mass">
</label>
<br>

<label>
  Moons: <input type="text" name="moons">
</label>
<br>

<label>
  Image URL: <input type="text" name="image">
</label>
<br>

<button>Create Planet</button>

</form>
