<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Animals of the World</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <h1>Animals of the World: A Visual Guide</h1>
  <nav>
    <a href="/animals">Index</a>
    |
    <a href="/animals/new">Add Animal</a>
  </nav>
  <hr/>

  <%= yield %> <!-- insert the specific route template here! -->

  <hr/>
  <footer>
    &copy; Round Boy Productions 2020
  </footer>

</body>
</html>
