<h1>Dashboard</h1>

<h2>Uptime</h2>
<div id="uptime"></div>

<h2>Biggest CPU Hog</h2>
<div id="hog"></div>

<h2>Honour Roll of Dogs</h2>
<ul id="dogsList"></ul>

<hr/>

<h2>Where Dat Doggo</h2>
<input type="text" id="dogSearch">
<button id="findDog">Here Boy!</button>

<div id="dogSearchResults"></div>
