
<h1>WELCOME TO THE FUNNIES PAGE!!</h1>

<h2><%= @title %></h2>

<!-- <img src="https://crystalbridges.org/wp-content/uploads/2015/11/poker_sympathy.jpg" alt="Dogs playing poker AHAHAHAHA"> -->
<!-- HOTLINKING! naughty! you should download and link to your own version of this image -->

<!-- <img src="/assets/poker_sympathy.jpg" alt="Poker Dogs"> -->

<!-- Use a Rails "template helper tag" to generate the img HTML for us: -->
<%= image_tag 'poker_sympathy.jpg', alt: 'Funny dogs', class: 'funny' %>
