
<h1>Welcome to the Calculator!</h1>

<form action="/calc/answer">

  <label>
    First Number:
    <input type="text" name="first_num">
  </label>

  <label>
    Operation:
    <select name="op">
      <option>+</option>
      <option>-</option>
      <option>*</option>
      <option>**</option>
      <option>div</option>
    </select>
  </label>

  <label>
    Second Number:
    <input type="text" name="second_num">
  </label>

  <button>Calculate!</button>

</form>
