
<h2>ENTER CALCULATION DETAILS</h2>

<form action="/calc/result">

  <label>
    First number:
    <input type="text" name="firstnum">
  </label>

  <label>
    Operator:
    <input type="text" name="operator">
  </label>

  <label>
    Second number:
    <input type="text" name="secondnum">
  </label>

  <button>Calculate!</button>

</form>
