<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CalculatorWeb</title>
</head>
<body>
  <h1>CalculatorWeb</h1>
  <hr/>

  <!-- actual varying page content goes here! -->

  <%= yield %> <!-- this makes the 'erb :calc' or whichever content appear here! -->


  <hr/>
  &copy; Devo Productions 2020
</body>
</html>
