body{
  margin: 0;
  overflow: hidden;
}

#content{
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  font-family: Helvetica;
  letter-spacing: 1px;
  font-size: 11pt;
  color: #ffffff;
  padding: 20px;
  background-color: rgba(200, 200, 200, 0.2);
  width: 50%;
  margin: 0 auto;
}
