<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Stock Quotes!</title>
  <!-- if you make a 'public' folder at the top of your Sinatra project folder, you can directly access files inside it like this: -->
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Stock Quote Lookup</h1>
  <hr/>

  <%= yield %>

</body>
</html>
